<section class="chat-area">
  <div class="chat-box">
    <div *ngFor="let chatItem of chatDateIDList$ | async"
         class="chat-area-item"
         [class.active]="chatItem[0] === (model$ | async)?.currentChatID"
         (click)="selectCurrentChat($event, chatItem[0])">
      {{chatItem[0]}} |
      {{chatItem[1] | date:'HH:mm:ss' }}
    </div>
  </div>

  <button class="chat-area-btn"
          md-mini-fab
          color="primary"
          (click)="createNewChat()">
    <md-icon>add</md-icon>
  </button>
</section>

