.chat-area {

  &-item {
    height: 80px;
    border: 1px solid forestgreen;
    background-color: #cccccc;

    &.active {
      background-color: #212121;
      color: #fff;
    }
  }

  &-btn {
    position: absolute;
    bottom: 0;
    right: 20px;
    transform: translateY(50%);
  }
}

.chat-area {
  position: relative;
  margin-top: 20px;
  font-size: 14px;
  width: 30%;
  float: left;
}

.chat-box {
  overflow-y: auto;
  min-height: 600px;
  max-height: 600px;
}



