<main>
  <header class="header">
    <button md-raised-button class="header__btn" color="primary" (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>
    <button md-raised-button class="header__btn" color="primary" (click)="login()" *ngIf="!(user | async)?.uid">Login with Facebook</button>
  </header>
  <main *ngIf="(user | async)?.uid">
    <div id="messages" class="message-box">

      <div class="message-wrap clearfix" *ngFor="let message of chatData.messages | toArray">
        <p class="message_out"></p>
      </div>
    </div>

    <section class="send-box">
      <md-input-container color="primary" class="send__input">
        <textarea mdInput maxRows='25' [(ngModel)]="dialedMessage" mdTextareaAutosize placeholder="Enter your message"></textarea>
      </md-input-container>
      <button md-raised-button color="primary" (click)="sendMessage(dialedMessage)"  class="send__btn">SEND</button>

    </section>
  </main>
</main>
