@import "../scss/palette";

.header {
  height: 80px;
  background-color: $primary-color;

  &__btn {
    float: right;
    margin: 22px 22px 0 0;
  }
}

.message-box {
  height: 70vh;
  margin: 20px;
  background-color: #DBF6FF;
}

.send-box {
  font-size: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.send {
  &__input {
    font-size: 14px;
    width: 80%;
    display: inline-block;

  }

  &__btn {
    display: inline-block;
    width: 20%;
    padding: 0;
  }
}


