@import "../scss/palette";

.message-box {
  height: 70vh;
  margin: 20px;
  background-color: #DBF6FF;
}

.send-box {
  font-size: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.send {
  &__input {
    font-size: 14px;
    width: 80%;
    display: inline-block;
  }

  &__btn {
    display: inline-block;
    width: 20%;
    padding: 0;
  }
}

.message {
  &-box {
    padding: 10px 20px;
    overflow-y: auto;
  }

  &_out {
    display: inline-block;
    max-width: 550px;
    float: right;
    background-color: #d3ffc4;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    white-space: pre-wrap;
  }
}


